---
import { getCollection } from 'astro:content'
import getProjects from '../utils/getProjects'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero'
import GridProjects from '../components/GridProjects'
import ProjectCard from '../components/ProjectCard'
import ServiceCard from '../components/ServiceCard'
import ProfilePicture from '../assets/images/profile.png'
import WebsiteCreationImage from '../assets/images/website-creation.png'

const projects = await getProjects(5)
const posts = await getCollection('blog')
const yearsOfExperience = 3
const services = [
  {
    image: WebsiteCreationImage,
    title: 'Brand Indentity',
    description:
      'Strategy formulation is built on the match between all organisation resources and skills based program. Design is the first thing that catches.'
  },
  {
    image: WebsiteCreationImage,
    title: 'Brand Indentity',
    description:
      'Strategy formulation is built on the match between all organisation resources and skills based program. Design is the first thing that catches.'
  },
  {
    image: WebsiteCreationImage,
    title: 'Brand Indentity',
    description:
      'Strategy formulation is built on the match between all organisation resources and skills based program. Design is the first thing that catches.'
  },
  {
    image: WebsiteCreationImage,
    title: 'Brand Indentity',
    description:
      'Strategy formulation is built on the match between all organisation resources and skills based program. Design is the first thing that catches.'
  },
  {
    image: WebsiteCreationImage,
    title: 'Brand Indentity',
    description:
      'Strategy formulation is built on the match between all organisation resources and skills based program. Design is the first thing that catches.'
  },
  {
    image: WebsiteCreationImage,
    title: 'Brand Indentity',
    description:
      'Strategy formulation is built on the match between all organisation resources and skills based program. Design is the first thing that catches.'
  }
]
---

<Layout title="luisfalconmx - Frontend Developer" navbarVariant="transparent">
  <main>
    <Hero
      image={ProfilePicture}
      title="👋 Hey there, It's Luis Falcon."
      headline="Frontend Developer"
      description="I'm passionate about JavaScript, open source projects and the dev communities."
    />
    <section
      class="grid grid-cols-[repeat(4,auto)] gap-x-8 2xl:gap-x-16 max-w-[1170px] mx-auto pt-28 pb-20 border-b border-dark-100"
    >
      <div>
        <b class="block font-manrope text-6xl font-normal mb-3 text-dark-400"
          >80+</b
        >
        <strong
          class="block uppercase font-bold font-manrope text-xl text-dark-300"
          >Certifications</strong
        >
      </div>
      <div>
        <b class="block font-manrope text-6xl font-normal mb-3 text-dark-400"
          >{projects.length}</b
        >
        <strong
          class="block uppercase font-bold font-manrope text-xl text-dark-300"
          >Projects</strong
        >
      </div>
      <div>
        <b class="block font-manrope text-6xl font-normal mb-3 text-dark-400"
          >{yearsOfExperience}+</b
        >
        <strong
          class="block uppercase font-bold font-manrope text-xl text-dark-300"
          >Years of experience</strong
        >
      </div>
      <div>
        <b class="block font-manrope text-6xl font-normal mb-3 text-dark-400"
          >{posts.length}</b
        >
        <strong
          class="block uppercase font-bold font-manrope text-xl text-dark-300"
          >Blog posts</strong
        >
      </div>
    </section>
    <section class="mt-20">
      <h2
        class="text-center font-manrope font-extrabold text-5xl text-dark-400 mb-24"
      >
        Latest projects 🌈
      </h2>
      <GridProjects>
        {
          projects.map((project) => (
            <ProjectCard
              type={project.data.type}
              title={project.data.name}
              headline={project.data.caption}
              link={`projects/${project.slug}`}
              image={project.data.previewImage}
              color={project.data.color}
              colorScheme={project.data.colorScheme}
            />
          ))
        }
      </GridProjects>
    </section>
    <section
      class="max-w-[1170px] mx-auto pt-28 pb-20 border-b border-dark-100"
    >
      {
        services.map((service) => (
          <ServiceCard
            key={service.title}
            image={service.image}
            title={service.title}
            description={service.description}
          />
        ))
      }
    </section>
  </main>
</Layout>
