---
import useProjects from '../hooks/useProjects'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero'
import GridProjects from '../components/GridProjects'
import ProjectCard from '../components/ProjectCard'
import ProfilePicture from '../assets/images/profile.png'

const { getLatestProjects, generateOrder } = useProjects()
const projects = await getLatestProjects()
const order = ['large', 'medium', 'small', 'small', 'medium']
---

<Layout title="luisfalconmx - Frontend Developer" navbarVariant="transparent">
  <main>
    <Hero
      image={ProfilePicture}
      title="👋 Hey there, It's Luis Falcon."
      headline="Frontend Developer"
      description="I'm passionate about JavaScript, open source projects and the dev communities."
    />
    <section
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[repeat(4,auto)] gap-y-14 lg:gap-y-0 place-items-center lg:place-items-start gap-x-8 2xl:gap-x-16 max-w-[1170px] mx-auto pt-14 lg:pt-28 pb-20 border-b border-dark-100 dark:border-dark-300"
    >
      <div class="text-center lg:text-left">
        <b
          class="block font-manrope text-6xl font-normal mb-3 text-dark-400 dark:text-white"
        >
          80+
        </b>
        <strong
          class="block uppercase font-bold font-manrope text-xl text-dark-300 dark:text-dark-200"
        >
          Certifications
        </strong>
      </div>
      <div class="text-center lg:text-left">
        <b
          class="block font-manrope text-6xl font-normal mb-3 text-dark-400 dark:text-white"
          >{projects.length}</b
        >
        <strong
          class="block uppercase font-bold font-manrope text-xl text-dark-300 dark:text-dark-200"
        >
          Projects
        </strong>
      </div>
      <div class="text-center lg:text-left">
        <b
          class="block font-manrope text-6xl font-normal mb-3 text-dark-400 dark:text-white"
          >3+</b
        >
        <strong
          class="block uppercase font-bold font-manrope text-xl text-dark-300 dark:text-dark-200"
          >Years of experience</strong
        >
      </div>
      <div class="text-center lg:text-left">
        <b
          class="block font-manrope text-6xl font-normal mb-3 text-dark-400 dark:text-white"
          >10</b
        >
        <strong
          class="block uppercase font-bold font-manrope text-xl text-dark-300 dark:text-dark-200"
          >Blog posts</strong
        >
      </div>
    </section>
    <section class="mt-20">
      <h2
        class="text-center font-manrope font-extrabold text-4xl lg:text-5xl text-dark-400 dark:text-white mb-24"
      >
        Latest projects 🌈
      </h2>
      <GridProjects>
        {
          projects.map((project, key) => (
            <ProjectCard
              key={key}
              type={generateOrder(order)}
              title={project.data.name}
              headline={project.data.caption}
              link={`projects/${project.slug}`}
              image={project.data.previewImage}
              color={project.data.color}
              colorScheme={project.data.colorScheme}
              buttonText="View Project"
            />
          ))
        }
      </GridProjects>
    </section>
    <!-- <section class="max-w-[1170px] mx-auto pt-28 pb-20">
      <h2
        class="text-center font-manrope font-extrabold text-5xl text-dark-400 dark:text-white mb-24"
      >
        Provide Services 🛠
      </h2>
      <GridServices>
        {
          services.map((service) => (
            <ServiceCard
              key={service.title}
              image={service.image}
              title={service.title}
              description={service.description}
            />
          ))
        }
      </GridServices>
    </section> -->
  </main>
</Layout>
