---
import Layout from '../layouts/Layout.astro'
import getProjects from '../utils/getProjects'
import ProjectCard from '../components/ProjectCard'
import GridProjects from '../components/GridProjects'
const projects = await getProjects()
---

<Layout title="Projects - luisfalconmx">
  <h1>The work we do, and the people we help</h1>
  <GridProjects>
    {
      projects.map((project) => (
        <ProjectCard
          type={project.data.type}
          title={project.data.name}
          headline={project.data.caption}
          link={`projects/${project.slug}`}
          image={project.data.previewImage}
          color={project.data.color}
          colorScheme={project.data.colorScheme}
        />
      ))
    }
  </GridProjects>
</Layout>
