---
import Layout from '../../layouts/Layout.astro'
import Paginate from '../../components/Paginate'
import ProjectCard from '../../components/ProjectCard'
import GridProjects from '../../components/GridProjects'
import useProjects from '../../hooks/useProjects'

export async function getStaticPaths({ paginate }: any) {
  const { getAllProjects } = useProjects()
  const allProjects = await getAllProjects()
  const pageSize = 4

  return paginate(allProjects, { pageSize })
}

const { page } = Astro.props
---

<Layout title="Projects - luisfalconmx">
  <section class="max-w-[1080px] mx-auto">
    <h1 class="max-w-[742px] font-extrabold font-manrope text-6xl my-32">
      The work we do, and the people we help.
    </h1>
    <GridProjects>
      {
        page.data.map((project: any) => (
          <ProjectCard
            title={project.data.name}
            type="large"
            headline={project.data.caption}
            link={`projects/${project.slug}`}
            image={project.data.previewImage}
            color={project.data.color}
            colorScheme={project.data.colorScheme}
          />
        ))
      }
    </GridProjects>
    <Paginate
      slug="/projects"
      currentPage={page.currentPage}
      lastPage={page.lastPage}
      prev={page.url.prev}
      next={page.url.next}
    />
  </section>
</Layout>
