---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const projectsEntries = await getCollection('projects')
  return projectsEntries.map((project) => ({
    params: { slug: project.slug },
    props: { project }
  }))
}

// 2. When it's time to render, you can get the entry directly from the prop
const { project } = Astro.props
const { Content } = await project.render()
---

<Layout title={project.data.title}>
  <h1>{project.data.name}</h1>
  <div>
    <div>
      <b>Client</b>
      <p>{project.data.client}</p>
    </div>
    <div>
      <b>Task</b>
      <p>{project.data.task}</p>
    </div>
    <div>
      <b>Time</b>
      <p>{project.data.time}</p>
    </div>
    <div>
      <b>Work Link</b>
      <p>{project.data.link}</p>
    </div>
  </div>
  <img class="w-full mb-28" src={project.data.featuredImage.src} alt={project.data.featuredImage.alt} />
  <Content />
</Layout>
