---
import Navbar from '../components/Navbar'
import Footer from '../components/Footer'
import mainMenu from '../config/Menus/mainMenu'
import socialMenu from '../config/Menus/socialMenu'

export interface Props {
  title: string
  navbarVariant?: 'normal' | 'transparent'
  showCTA?: boolean
}

const { title, navbarVariant = 'normal', showCTA = true } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#212121" />
    <meta name="msapplication-TileColor" content="#212121" />
    <meta name="theme-color" content="#212121" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="dark:bg-night-dense dark:text-white">
    <Navbar variant={navbarVariant} links={mainMenu} client:only />
    <slot />
    <Footer links={mainMenu} socialLinks={socialMenu} showCTA={showCTA} />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme')
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark'
        }
        return 'light'
      })()

      if (theme === 'light') {
        document.documentElement.classList.remove('dark')
      } else {
        document.documentElement.classList.add('dark')
      }

      window.localStorage.setItem('theme', theme)
    </script>
  </body>
</html>
